doctype html
html(lang="en")
  head
    link(href='./main.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet")
    title Bulletin Board
  body#index
    div#form
      form(method='POST' action='/submitMessage')
        p Message Title:
        input#title(minlength='5' maxlength='50' size='50' type='text' placeholder='message title' name='title' required)
        br
        p Your Message:
        textarea(minlength='5' maxlength='200' rows="20" cols="50" name="body" placeholder="Enter your message here" required)
        br
        button(type='submit' class='btn') Submit Message
      br
      br
      a(href='/messages') See the Bulletin Board
