doctype html
html(lang="en")
  head
    link(href='./main.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet")
    title Bulletin Board
  body#index
    div#form
      form(method='POST' action='/submitMessage')
        p Message Title:
        input#title(size='50' type='text' placeholder='message title' name='title')
        br
        p Your Message:
        textarea(maxlength='500' rows="20" cols="50" name="body" placeholder="Enter your message here")
        br
        button(type='submit' class='btn') Submit Message
      br
      br
      a(href='/messages') See the Bulletin Board
