doctype html
html(lang="en")
  head
    link(href='./main.css', rel='stylesheet')
    title Bulletin Board
  body
    form(method='POST' action='/submitMessage')
      p Message Title:
      input#title(type='text' placeholder='message title' name='title')
      br
      p Your Message:
      textarea(rows="5" name="body" placeholder="Enter your message here")
      br
      button(type='submit' class='btn') Submit Message
