doctype html
html(lang="en")
  head
    link(href='./main.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet")
    title Bulletin Board
  body#messages
    div
      if messages.length != 0
        each message in messages
          ul(class='post')
            br
            br
            li= message.title
            br
            li= message.body
            br
      else
        h1 No posts yet!
    br
    div#home
      a(href='/') Home
