doctype html
html(lang="en")
  head
    link(href='./main.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet")
    title Bulletin Board
  body#messages
    div
      each message in messages
        ul(class='post')
          br
          br
          li= message.title
          br
          li= message.body
          br
    br
    div#home
      h2 If your message is not here yet, refresh!
      a(href='/') Home
